@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.header-checklists {
    @include grid-paper($size: 16px);
    padding-top: $space-96;
    padding-bottom: $space-64;
    clip-path: $clip-path-bottom;

    @include media-down('desktop-lg') {
        padding-top: $space-80;
    }

    @include media-down('desktop-sm') {
        padding-top: $space-64;
    }

    @include media-down('mobile') {
        padding-bottom: $space-48;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $space-48;

        @include media-down('desktop-sm') {
            gap: $space-32;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__subtitle {
        max-width: 670px;
    }
}

.checklists-top {
    display: flex;
    flex-direction: column;
    gap: $space-24;
    margin-block: $space-48;

    @include media-down('desktop-sm') {
        gap: $space-16;
        margin-block: $space-32;
    }

    &__row {
        display: flex;
        gap: $space-24;

        @include media-down('desktop-sm') {
            gap: $space-16;
        }

        @include media-down('mobile') {
            flex-direction: column;
        }
    }
}

.checklists-instruction {
    flex: 2 1 0%;
    background-color: $color-blue-000;
    border-radius: 2px;
    padding: $space-48 $space-64;
    display: flex;
    flex-direction: column;
    gap: $space-24;
    overflow: hidden;

    @include media-down('desktop-sm') {
        padding: $space-32 $space-40;
    }

    @include media-down('mobile') {
        padding: $space-24;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: $space-24;
    }

    &__step {
        display: flex;
        gap: $space-4;
    }

    &__num {
        color: $color-blue-900-main;
        flex-shrink: 0;
    }

    &__text {
        color: $color-blue-500-main;
    }
}

.checklists-featured {
    @include clip-path-block();
    @include grid-paper($size: 16px);
    padding-block: $space-96;

    @include media-down('desktop-sm') {
        padding-block: $space-64;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $space-32;
    }

    &__heading {
        display: flex;
        align-items: center;
        gap: $space-24;

        svg {
            flex-shrink: 0;
        }
    }
}

.checklists-grid {
    display: flex;
    flex-direction: column;
    gap: $space-24;
    padding-block: $space-32;

    @include media-down('desktop-sm') {
        gap: $space-16;
    }

    &__row {
        display: flex;
        gap: $space-24;

        @include media-down('desktop-sm') {
            gap: $space-16;
        }

        @include media-down('mobile') {
            flex-direction: column;
        }
    }
}
