@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.header-index-hero-block {
    height: 100vh;
    background-image: url('/src/images/main/bg/hero-block.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        padding-top: 15vh;

        @include media-down('desktop-sm') {
            padding-top: 8vh;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 1158px;
        height: 670px;
        align-items: center;
        justify-content: end;
        padding-bottom: 128px;
        gap: 24px;

        margin: auto;
        
        background-image: url('/src/images/main/bg/hero-block-content.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        h1 {
            text-align: center;
            @include media-down('desktop-sm') {
                font-size: 56px;
            }

            @include media-down('mobile') {
                font-size: 48px;
            }
        }

        @include media-down('desktop-sm') {
            gap: 12px;
            padding-bottom: 172px;
        }

        @include media-down('tablet') {
            background-image: none;
        }

        @include media-down('mobile') {
            gap: 16px;
        }
        

    }

    &__subtitles {
        display: flex;
        width: 100%;
        padding-inline: 96px;
        justify-content: space-between;
        font-family: $font-title;
        font-size: 1.5rem;
        color: $color-blue-600;

        @include media-down('desktop-sm') {
            flex-direction: column;
            align-items: center;
            font-size: 1.3rem;
            gap: 4px;
        }

        @include media-down('mobile') {
            text-align: center;
        }
    }
}

.article-index, .checklists-index, .sources-index, .test-index {

    padding-block: $space-64;

    @include media-down('mobile') {
            padding-bottom: 0.7rem;
        }

    &__link {
        text-align: center;
        grid-column: 5/9;

        @include media-down('desktop-sm') {
            grid-column: 1/-1;
        }
    }

    h2, h3 {
        grid-column: 1/-1;
    }
}

.article-index {

    padding-bottom: 3.5rem;
    background-color: $color-blue-000;

    @include media-down('mobile') {
            padding-bottom: 0.7rem;
        }

    &__inf, &__description {
        background-color: $color-blue-000;
        border: 2px solid $color-blue-500-main;
        padding: 2.5rem;

        @include media-down('mobile') {
            padding: 1rem;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__inf {
        display: flex;
        justify-content: space-between;
        gap: 1.6rem;
        align-items: center;

        @include media-down('mobile') {
            flex-direction: column;
        }
    }

    &__tags {
        display: flex;
        gap: 4px;
        @include media-down('mobile') {
            flex-wrap: wrap;
        }
    }

    &__descr {
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
        gap: 24px;
        order: 1;

        @include media-down('desktop-sm') {
            order: 0;
        }
    }

    .article-card-medium, &__link {
        order: 2;
    }

    &__inf {
        height: 100%;
        font-size: $fs-large-desk;
    }

    &__scnd-row {
        margin-top: 24px;
        display: flex;
        gap: $space-24;
        @include media-down('desktop-sm') {
            gap: $space-16;
        }

        @include media-down('mobile') {
            flex-wrap: wrap;
        }
    }
}

@keyframes floatAndMove {
  0% { transform: translate(0, 0); }
  33% { transform: translate(-5px, -1px); }
  66% { transform: translate(5px, 1px); }
  100% { transform: translate(0, 0); }
}

.test-index {

    section {
        grid-column: 1/-1;
    }

    &__clouds {
        grid-template-rows: repeat(2, 1fr);

        padding-bottom: 6rem;
        height: 70vh;
        background-image: url(/src/images/main/test/test-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include media-down('mobile') {
                    background-image: none;
                    height: auto;
                    padding-bottom: 0;
                }

        .cloud {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;

            p {
                align-self: center;
                z-index: 2;
                margin-bottom: 2rem;

                @include media-down('desktop-lg') {
                    margin-bottom: 2.7rem;
                }
            }

            @include media-down('mobile') {
                    width: 100%;
                }
        }

        .cloud-first {
            grid-column: 3/7;
            grid-row: 1/2;
            height: 148px;

            animation: floatAndMove 3s infinite ease-in-out;

            @include media-down('desktop-sm') {
                    grid-column: 1/4;
                }
        }

        .cloud-sec {
            grid-column: 9/-1;
            grid-row: 1/2;
            height: 156px;
            align-self: self-end;

            animation: floatAndMove 5s infinite ease-in-out;

            @include media-down('desktop-sm') {
                    grid-column: -3/-1;
                }
        }

        .cloud-third {
            grid-column: 5/11;
            grid-row: 2/3;
            height: 218px;
            align-self: self-end;

            animation: floatAndMove 4s infinite ease-in-out;

            @include media-down('desktop-lg') {
                    p {
                        margin-bottom: 3.5rem;
                    }
                }

            @include media-down('desktop-sm') {
                    grid-column: 3/-1;
                }

            @include media-down('tablet') {
                    p {
                        margin-bottom: 4rem;
                    }
                }

            @include media-down('mobile') {
                    p {
                        width: 70vw;
                        text-align: center;
                    }
                }
        }

        .image-cloud {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;    // Самый нижний слой
            object-fit: contain;
        }
    }

    
}

.checklists-index, .sources-index {
    @include grid-paper($size: 16px);
    padding-block: $space-128;

    &__filter {
        @include filter-polyline();
    }

    clip-path: $clip-path-block;
}

.checklists-index {
    &__bg {
        background: linear-gradient($color-blue-000, $color-milk-100);
    }

    &__list {
        grid-column: 1/6;
        @extend h5 ;
        color: $color-blue-500-main;
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include media-down('desktop-sm') {
            font-size: 25px;
            padding-left: 2.5rem;
            grid-column: 1/3;
        }

        @include media-down('mobile') {
            font-size: 20px;
        }
    }

    &__card-checklist {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        gap: $space-16;

        padding: 1rem 1.5rem;

        background-color: $color-milk-100;

        &__card-content {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            align-items: center;

            @include media-down('desktop-sm') {
                flex-direction: column;
                align-items: start;
            }
        }

        .checklist-title {
            font-family: $font-title;
            font-size: 1.5rem;
            text-transform: lowercase;
            line-height: 1.5rem;

            @include media-down('mobile') {
                font-size: 20px;
            }
        }

        .checklist-icon {
            flex-shrink: 0;
            display: block;
            width: 48px;
            height: auto;
        }

        .checklist-arrow {
            flex-shrink: 0;
            display: block;
            width: 24px;
            height: auto;

            @include media-down('desktop-sm') {
                align-self: center;
            }
        }

        transition: color $transition-main;

        &:hover {
            background-color: $color-blue-000;
        }
    }

    &__cards-checklist {
        display: flex;
        flex-direction: column;
        grid-column: 6/-1;
        gap:1rem;

        @include media-down('desktop-sm') {
                grid-column: 3/-1;
            }
    }
}

.sources-index {
    &__bg {
        background: linear-gradient($color-milk-100, $color-blue-000);
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        gap: $space-16;
    }

    &__card-checklist {
        display: flex;
        justify-content: space-between;
        grid-column: 4 span;
        cursor: pointer;
        padding: $space-32;

        background-color: $color-milk-100;

        @include media-down('desktop-sm') {
            grid-column: 6 span;
            padding: $space-24;
        }

        .source-content {
            display: flex;
            flex-direction: column;
            gap: $space-8;
        }
        .source-arrow {
            width: 24px;
            height: auto;
        }
        .source-icon {
            width: 120px;
            height: 140px;
        }

        transition: color $transition-main;
        box-sizing: border-box;
        border: 3px solid transparent; 
        transition: border $transition-main;

        &:hover {
            border: $border-main;
            border-width: 3px;
        }
    }
}

.form-index {
    background-color: $color-blue-000;
    
    &__content {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 48px;
        form {
            display: flex;
            input {
                all: unset;

                box-sizing: border-box;
                font-family: $font-body;
                font-size: 1rem;
                color: $color-blue-400;
                width: 456px;
                outline: $border-main;
                outline-offset: -2px;
                border-radius: 0px;
                height: 48px;
                padding-inline: 1.5rem;
                background-color: $color-blue-000;
                @include media-down('tablet') {
                    width:100%;
                }
            }
            input::placeholder {  
                color: $color-blue-900-main;  
                opacity: 1;  
            }
            gap: 24px;

            @include media-down('desktop-sm') {
                flex-direction: column;
                gap: 16px;
            }
        }
    }
    .qr {
        img {
            width: 100%;
        }
        @include media-down('desktop-sm') {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__container {
        padding-block: $space-48;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;

        @include media-down('tablet') {
            display: flex;
            flex-direction: column;
        }
    }
}

.footer__top-bg.index-footer {
    background-color: $color-blue-000 !important; 
}