@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.grid-auto-fit {
    @include grid-auto-fit();
}

.article-grid {
    
    h2 {
        grid-column: 1 / 9;

        @include media-down('desktop-sm') {
            grid-column: 1 / 10;
        }
    }

    .paragraph {
        grid-column: 6/13;

        @include media-down('desktop-sm') {
            grid-column: 4 / 10;
        }
    }

    blockquote {
        grid-column: 6/13;

        @include media-down('desktop-sm') {
            grid-column: 1 / 10;
        }
    }

    counter-reset: article-list;
    ol {
        grid-column: 1/5;

        @extend h4 ;

        li {
            display: flex;
            align-items: flex-start; 
            counter-increment: article-list;
            gap: $space-4; 
            margin-top: 0.3rem;

            &::before {
                content: counter(article-list) "."; 
                margin-bottom: $space-4; 
            }
        }

        @include media-down('desktop-sm') {
            grid-column: 1 / 4;
        }
        

        @include media-down('tablet') {
            font-size: 20px;
        }

        @include media-down('mobile') {
            li {
                flex-direction: column; 
                }
            
        }
    }
}

.index-articles {
    h2, h3 {
        grid-column: 1 / -1;
    }
}
