@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.quote-card {
    background-color: $color-blue-000;
    border: 3px solid $color-blue-500-main;
    // background-image: url('../images/bg/bg-cage.svg');
    // background-size: 100% 100%;
    background-repeat: no-repeat;
    

    // &__edge {
    //     width: 100%;
    //     height: 30px; // Высота твоего SVG края
    //     -webkit-mask-size: 100% 100%;
    //     mask-size: 100% 100%;
    //     -webkit-mask-repeat: no-repeat;
    //     mask-repeat: no-repeat;
    //     background-color: $color-milk-100;

    //     &--top {
    //         -webkit-mask-image: url('../images/bg/bg-top.svg');
    //         mask-image: url('../images/bg/bg-top.svg');
    //         margin-top: -2px;
    //     }
    //     &--bottom {
    //         -webkit-mask-image: url('../images/bg/bg-bottom.svg');
    //         mask-image: url('../images/bg/bg-bottom.svg');
    //         mask-position: bottom;
    //     }
    // }

    
    padding: $space-16 $space-32;
    

    @include media-down('tablet') {
        border-width: 2px;
    }

    @include media-down('mobile') {
            padding: $space-16 $space-24;
        }
}