@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

$clip-path-quote: polygon(
    0% 0%, 15% 16%, 25% 4%, 35% 16%, 40% 0%, 45% 8%, 
    55% 16%, 60% 4%, 70% 20%, 75% 8%, 85% 20%, 96% 15%, 100% 0%,
     
    100% 100%, 96% 94%, 80% 84%, 75% 100%, 68% 76%, 54% 100%, 45% 88%, 
    40% 100%, 35% 80%, 25% 98%, 12% 86%, 0% 100% 
  );

.quote-card {
    filter: 
        drop-shadow(0 1px 0 $color-blue-400) 
        drop-shadow(0 -1px 0 $color-blue-400);
    
    
    &__text {
        clip-path: $clip-path-quote;
        @include grid-paper(); 
        padding: $space-48 $space-32;
        border-left: $border-main;
        border-right: $border-main;
    }

    @include media-down('mobile') {
            &__body {
                // padding: $space-32 $space-24;
            }
        }
}