@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.secondary-button, .primary-button {

    appearance: none;       
    background: transparent; 
    border: none;            
    padding: 0;             
    margin: 0;             
    
    
    font: inherit;          
    color: inherit;         
    
    cursor: pointer;      
    outline: none;        
    
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    
    font-family: $font-title;
    font-size: 24px;
    text-transform: lowercase;
    text-align: center;
    outline: none;

    display: inline-block;
    height: 48px;
    padding-inline: $space-32;
    align-content: center;

    @include media-down('desktop-lg') {
        font-size: 18px;
        height: 40px;
        padding-inline: $space-24;
    }

    @include media-down('mobile') {
        font-size: 18px;
        min-height: 48px;
        height: auto;
        padding-block: 10px;
    }
}

.primary-button { 
    background-color: $color-blue-500-main;
    color: $color-blue-000;
    transition: color $transition-main;
    transition: background-color $transition-main;

    &:hover {
        background-color: $color-blue-200-main;
        color: $color-blue-900-main;
    }

    &:active {
        background-color: $color-blue-900-main;
        color: $color-blue-000;
    }
}

.secondary-button {
    background-color: $color-blue-200-main;
    transition: color $transition-main;
    transition: background-color $transition-main;

    &:hover {
        background-color: $color-blue-500-main;
        color: $color-blue-000;
    }

    &:active {
        background-color: $color-blue-900-main;
    }
}

.social-icon {
    display: inline-block;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-items: center;
}