@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.grid-auto-fit {
    @include grid-auto-fit();
}

.tests {
    padding-block: $space-96;

    &__header {
        grid-column: 1/-1;
    }
}

.tests-cards {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.test-card {
    background-color: $color-blue-200-main;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-blue-500-main;
    width: 100%;

    &__image {
        img {
            width: 100%;
            overflow: hidden; 
            width: 100%;
            height: 100%;      
            object-fit: cover; 
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 2rem;

        p.large-text {
            max-width: calc(100% * 8 / 12);
            @include media-down('desktop-lg') {
                max-width: 100%;
            }
        }

        gap: $space-24;

        @include media-down('desktop-lg') {
                gap: $space-16;
            }

        @include media-down('tablet') {
                padding: $space-24;
            }

        @include media-down('mobile') {
                padding: $space-16;
            }
        }
}