@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../base/typography' as *;

.article-card-medium {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    
    @include media-down('desktop-sm') {
        grid-column: span 3;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: $space-16;
        background-color: $color-blue-000;
    }
    
    &__img {
        
        display: block;
        
        height: 256px;
        background-color: #fff;
        img {
            width: 100%;
            overflow: hidden; 
            width: 100%;
            height: 100%;      
            object-fit: cover; 
            display: block;
        }


        @include media-down('desktop-sm') {
            height: 152px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-inline: $space-16;
    }

    &__meta-box {
        display: flex;
        justify-content: space-between;
        color: $color-blue-500-main;
        
    }

    &__title {
        @extend h5 ;
        transition: color $transition-main;

        .article-card-medium:hover & {
            color: $color-blue-600;
        }

        @include media-down('tablet') {
            font-size: 24px;
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
        gap: $space-8;
    }

    &__meta-box {
        time {
            text-align: right;
        }
    }

    &__bottom-border {
        background-color: $color-blue-000;
        border-color: $color-blue-500-main;
        border-inline-width: 2px;
        border-bottom-width: 2px;
        border-style: solid;
        height: 40px;
        transform: translateY(-16px);
        position: relative;
        bottom: 0;
        z-index: -1;
        transition: transform $transition-main;

        .article-card-medium:hover & {
            transform: translateY(0);
        }
    }
    .read-time {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-4;
    }

    .icon-clock {
        color: $color-blue-500-main;
        width: 22px;
        height: 22px;

        * {
            stroke: currentColor; 
            fill: none;           
        }
    }

    .meta-tag a {
        color: $color-blue-500-main;
    }

    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}

.article-card-large {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    
    @include media-down('desktop-sm') {
        grid-column: span 3;
    }


    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: $space-16;
        background-color: $color-blue-000;
    }
    
    &__img {
        display: block;
        height: 256px;


        img {
            width: 100%;
            overflow: hidden; 
            width: 100%;
            height: 100%;      
            object-fit: cover; 
            display: block;
        }

        @include media-down('desktop-sm') {
            height: 152px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-inline: $space-16;
    }

    &__meta-box {
        display: flex;
        justify-content: space-between;
        color: $color-blue-500-main;
        
    }

    &__title {
        @extend h5 ;
        transition: color $transition-main;

        .article-card-large:hover & {
            color: $color-blue-600;
        }

        @include media-down('tablet') {
            font-size: 24px;
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
        gap: $space-8;
    }

    &__bottom-border {
        background-color: $color-blue-000;
        border-color: $color-blue-500-main;
        border-inline-width: 2px;
        border-bottom-width: 2px;
        border-style: solid;
        height: 40px;
        transform: translateY(-16px);
        position: relative;
        z-index: -1;
        transition: transform $transition-main;

        .article-card-large:hover & {
            transform: translateY(0);
        }
    }
    .read-time {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-4;
    }

    .icon-clock {
        color: $color-blue-500-main;
        width: 22px;
        height: 22px;

        * {
            stroke: currentColor; 
            fill: none;           
        }
    }

    .meta-tag-a {
        color: $color-blue-500-main;
    }

    &__meta-box {
        time {
            text-align: right;
        }
    }
}

