@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../components/atoms/blockquote';
@use '../../base/typography' as *;
// @use '../../layout/container';

body {
    background-color: $color-milk-100;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: $space-64;

    &__section {
        display: flex;
        flex-direction: column;
        gap: $space-48;

        h2 {
            max-width: 1055px;
        }
    }
    counter-reset: article-list;

    &__list {
        

        ol {
            @extend h4 ;
            list-style-type: decimal;
            list-style-position: outside;
            padding-left: 4rem;

            @include media-down('tablet') {
                font-size: 20px;
                padding-left: 2.2rem;
            }

            @include media-down('mobile') {
                padding-left: 0rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                li {
                    display: flex;
                    flex-direction: column; 
                    align-items: flex-start; 
                    counter-increment: article-list; 

                    &::before {
                        content: counter(article-list) "."; 
                        margin-bottom: $space-4; 
                    }
                }
            }
        }

    }
    
}

.read-more {
    display: flex;
    flex-direction: column;
    gap: $space-32;
    padding-bottom: $space-48;

    &__cards, .base-article__scnd-row {
        display: flex;
        gap: $space-24;
        @include media-down('desktop-sm') {
            gap: $space-16;
        }

        @include media-down('mobile') {
            flex-wrap: wrap;
        }
    }

    &__top-image {
        display: flex;
        justify-content: center;
        margin-block: $space-48;
        img {
            width: 100%;
        }
    }
}