@font-face {
  font-family: 'CoFoDrifter';
  src: url('../fonts/CoFoDrifter-Medium.woff') format('woff'),
  url('../fonts/CoFoDrifter-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreeSet';
  src: url('../fonts/FreeSet-Book.woff') format('woff'),
  url('../fonts/FreeSet-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'FreeSet';
  src: url('../fonts/FreeSet-DemiBold.woff') format('woff'),
  url('../fonts/FreeSet-DemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'FreeSet';
  src: url('../fonts/FreeSetCond-Book.woff') format('woff'),
  url('../fonts/FreeSetCond-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}