@use '../abstracts/variables' as *;

@mixin media-down($breakpoint) {
  @if $breakpoint == "desktop-lg" {
    @media (max-width: $bp-desktop-lg) { @content; }
  }
  @else if $breakpoint == "desktop-sm" {
    @media (max-width: $bp-desktop-sm) { @content; }
  }
  @else if $breakpoint == "tablet" {
    @media (max-width: $bp-tablet) { @content; }
  }
  @else if $breakpoint == "mobile" {
    @media (max-width: $bp-mobile) { @content; }
  }
}

@mixin grid-paper($color: $color-blue-200-main, $size: 24px) {
  background-color: #ffffff;
  background-image: 
    linear-gradient($color 1px, transparent 1px),
    linear-gradient(90deg, $color 1px, transparent 1px);
  background-size: $size $size;
  background-position: center;
}

@mixin grid-auto-fit() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  grid-column-gap: 24px;
  grid-row-gap: 32px;

  @include media-down('desktop-lg') {
      grid-column-gap: 16px;
      grid-row-gap: 24px;
  }

  @include media-down('desktop-sm') {
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 24px;
  }

  @include media-down('mobile') {
      display: flex;
      flex-direction: column;
  }
}

@mixin filter-polyline($size-top: 2px, $size-bottom: -2px) {
  filter: 
    drop-shadow(0 $size-top 0 $color-blue-400) 
    drop-shadow(0 $size-bottom 0 $color-blue-400);
}